<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="vm">
    <h1 v-if="awesome">vue is awesome!</h1>
    <h1 v-else>oh no</h1>
    </div>

    <template v-if="loginType === 'username' ">
        <label>Username</label>
        <input placeholder="Enter your username">
    </template>
    <template v-else>
        <label>email</label>
        <input placeholder="Enter your email">
    </template>

    
    <script type="text/javascript">
        var vm = new Vue({
            el: '#vm',
            data: {
                awesome: true
            }
        })
    </script>
</body>
</html>